*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;

white-space: wrap;

}

.first {
    display: flex;flex-direction: row;
}
aside{
    width: 190px;
}
.side-menu {
    /* display: block; */
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    /* margin: auto; */
    min-height: 200vh;
    background-color:#952004;
    color: white;  
}
.side-menu a{
    font-size: 12px;
    padding: 1rem;
    color: white;

}
#side-menu{
padding-top: 20%;
color: white;


}
#side-menu1 h1{
    font-size: 14px;
    border: 2px solid white;
    padding: 1rem;
}
#side-menu1 :hover{
    background: black;
}

body{
    background-color: rgb(246, 240, 240);
}



hr{
    border: 1.5px solid #952004;
    /* color: #952004; 
    width: 80vw; */
    /* align-items: center */
    margin: auto;
    /* justify-items: center */
}
.hed{
    /* text-align: center; */
    border: ;
    display: 
    justify-content: space-between;
}


.LOG{
    text-align: right;
    padding: 10px;
    color: red;
}
.opt {
    display: flex;
    width: 100%;
    /* text-align:center ; */
    justify-content: center;
    gap: 0.5em;
    

}
#opt-input{
    padding: 0.5rem ;
    width: 40%;
}
#opt-input2{
    padding: 7px 100px;
    width: 40%;
}
#search-bar{   
display: flex;
justify-content: center;
align-items: center;
background: red;
width: 7%;
border-radius: 5px;
color: white;
}
nav{
    display: flex;flex-direction:row;
    gap: 10%;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: black;
}
nav:hover{
    font-size: larger;
    color: red;
    
}
.icon{
    position: absolute;
    top: 1.6%;
    right: 11%;
}
.hed-1{
display: flex;
padding-left: 1.5rem;
color: gray;
padding-top: 0.5%;
}
.hed-2{
display: flex;
margin-left: 91%;
padding-top: -10rem;
color: gray;
border: none;

}
main{
    margin-left: 1.5rem;
    background-color: white;
    height: 60vh;
    /* padding-left: 5%; */
    margin-right:1.5rem ;
    padding-right: 2rem;
    
}
.main{
/* text-align: center; */
flex-wrap: wrap;
font-size: 17px;
}
main p{
 font-weight: bold;  
 font-size: 21px; 
}
.last{
    display: flex;
    margin: 10% 10% 0% 50%;

}
.list{
margin-left: 70%;
}
.B{
    margin-top: 5% ;
    /* margin-left: 35%; */
    height: 20vh;
    margin-right: 35%;
    padding-left: 30%;
    font-size: large;
    font-weight: 500;
    letter-spacing:50%;
    /* text-align: center; */
}
#bible-recommendation{
    width: 100%;
    background: white;
}
.book{
    display: flex;
    gap: 5%;
}
.book-1{
    align-content: center;
}
.cross{
    display: flex;
    gap: 5%;
}
.cross-1{
    align-content: center;
}
.compass{
    display: flex;
    gap: 5%;
}
.compass-1{
    align-content: center;
}
.house{
    display: flex;
    gap: 5%;
}
.house-1{
    align-content: center;
}
.touch{
    display: flex;
    gap: 5%;
}
.touch-1{
 align-content: center;
}
.touch:hover{
background-color: red;

}
.book:hover{
background-color: red;

}
.house:hover{
background-color: red;

}
.cross:hover{
background-color: red;

}
.compass:hover{
background-color: red;

}
#bible-img{
    width:50%;
}
#bible-2{
    width: 40%;
}
#bible-3{
    width: 60%;
}
.pictures{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
}
.buy{
   margin-top: 20%; /* padding-left: 10%; */
    /* border-width: 5%; */
}
.buy button{
    /* width: 120px;
    height: 50px; */
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #1848d7;
    border: 1px solid transparent;
    box-shadow: 0.4px 0.4px 0.4px 0.4px rgb(24, 72, 215, 0.5);
    
}
.buy button p{
    color: #ffffff;
}
.L {
padding-left: 40%;
    background-color: #ffffff;
    margin-top: %;

}
.button{
    width:25%;
    /* align-items: center; */
}
@media (max-width:650px) {
    body{
        background-color: #1848d7;
    }
}